body{
    background-color: #F1FAEE;
}

button{

    font-size: 30px;
    background-color: #A8DADC;
}

h1,h2{
    color: #1D3557;
}

#signup{
    background-color: #1D3557;
    color: #F1FAEE;
}

span{
    color: #457B9D;
}

/* class selector */
.tag{
    background-color: #E63946;
    color: #F1FAEE;
    font-size: 16px;
}

/* descendent selector */
.post a{
    color: #457B9D;
    text-decoration: none;
}

footer a{
    color: #E63946;
}

/* adjacent selectors */
h2 + button {
    font-size: 20px;
}

/* direct child decendant */
footer > a{
    color: #A8DADC;
}

/* attribute selector */
input[type="password"]{
    color: greenyellow;
}

a[href*="google"]{
    color: magenta;
}

.post button :hover{
    background-color: #E63946;
    color: #F1FAEE;
}

.post a:hover{
    text-decoration: underline;
}

.post button:active{
    background-color: #02C39A;
}

.post: :nth-of-type(2n){
    background-color: #DFE8DC;
}