body{
    background-color: #F1FAEE;
}

button{

    font-size: 30px;
    background-color: #A8DADC;
}

h1,h2{
    color: #1D3557;
}

#signup{
    background-color: #1D3557;
    color: #F1FAEE;
}

span{
    color: #457B9D;
}

/* class selector */
.tag{
    background-color: #E63946;
    color: #F1FAEE;
    font-size: 16px;
}

/* descendent selector */
.post a{
    color: #457B9D;
}